rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow write: if false;
    }

    match /users/{userId} {
      allow read;
    }

    match /posts/{postId} {
      allow read;
    }

    match /postComments/{postCommentId} {
      allow read;
    }

    match /postCommentReplies/{postCommentReplyId} {
      allow read;
    }

    match /postMeta/{postMetaId} {
      allow read;
    }

    match /feedback/{feedbackId} {
      allow read: if false;
    }

    match /newsletter/{newsletterId} {
      allow read: if false;
    }

    match /article/{articleId} {
      allow read;
    }

    match /articleComment/{articleCommentId} {
      allow read;
    }

    match /articleCommentReply/{articleCommentReplyId} {
      allow read;
    }

    match /articleLike/{articleLikeId} {
      allow read;
    }

  }
}
